html {
  height: 100%;
  width: 100%;
}

#hiveLogo{
  height:auto;
  width: 5vw;
  margin-right: 2vw;
}
.navbar{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.card{
  margin-bottom: 2vw;
}
.betterPE{
  margin-bottom: 2vw;
  height: auto;
  width: 99vw;
}

.btn{
  margin-top: 2vw;
  margin-bottom: 2vw;
}


p, h3, h2, h5{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-title{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-text{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.space{
  margin-top: 2vw;
  margin-bottom: 2vw;
}